.app {
    height: 99vh !important;
}

.contactsList {
    overflow: auto;
    height: 85vh;
}

.contactItem:hover {
    background-color: #545454;
}

.contactItem {
    display: flex;
    cursor: pointer;
}

.contactsTitle {
    padding: 7px 0 0 15px;
    height: 5vh;
}

.topicIcon {
    margin-bottom: 5px;
    margin-right: 12px;
}

.topicText {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.searchText {
    font-size: 13px;
    line-height: 2em;
}

.chat_topic {
    line-height: 1em;
    margin: 0;
}

.chat_group_members {
    text-overflow: ellipsis;
    overflow: auto;
    width: 100% !important;
    height: 54px;
}

.chat_messages {
    padding: 0;
    margin: 0;
    overflow: auto;
    height: 80vh;
    background-color: #1F1F1F;
}

.message_container {
    padding: 10px;
}

.message {
    border-radius: 10px;
    line-height: 1.4em;
    word-break: break-word;
    padding: 2px 12px 6px;
}

.systemMessage {
    background-color: #1F281F;
    text-align: start;
    margin-left: 10px;
    font-size: 20px;
}

.myMessage {
    background-color: #2F2F4A;
    text-align: end;
    margin-right: 20px;
}

.notMyMessage {
    background-color: #292929;
    margin-left: 20px;
}

.myMessage p,
.notMyMessage p {
    padding: 0;
    margin: 0;
}

.chat_sender {
    font-size: 12px;
    color: #777;
    line-height: 1em;
}

.chat_reactions {
    font-size: 16px !important;
    line-height: 1em;
    padding: 2px;
}

.icon {
    margin-bottom: 3px;
}

.glow-on-hover {
    width: 40px;
    height: 35px;
    border: none;
    outline: none;
    color: #fff !important;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    margin-left: 10px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% {
        background-position: 0 0;
    }
    50% {
        background-position: 400% 0;
    }
    100% {
        background-position: 0 0;
    }
}